name: Publish absolute STAC catalog

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./main
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2
          path: main
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Test with pytest
        run: |
          pytest
      - name: Checkout release branch
        uses: actions/checkout@v2
        with:
          ref: live
          path: live
      - name: Release
        run: |
          python convert.py
          rm -rf ../live/current
          cp -rp live ../live/current
          cd ../live
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add .
          git commit -m "Absolute version of $GITHUB_SHA"
          git push
